.tabs.d-flex {
  display: flex;
  justify-content: space-around;
}
h4 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  /* margin-bottom: 9px; */
}
h4.mb {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 9px;
}
.ml {
  margin-left: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  flex-direction: row;
}
small {
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(171, 171, 171, 1);
}
.smallicon {
  height: 24px;
}
.btn {
  padding: 15px 25px;
  background-color: rgba(249, 164, 0, 1);
  border-radius: 8px;
  color: white;
}
button {
  border: none;
}
.btn3 {
  gap: 20px;
  padding: 15px 25px;
  background-color: rgba(208, 88, 88, 1);
  border-radius: 8px;
  border-color: rgba(208, 88, 88, 1);
  margin-left: 15px;
}
.btn4 {
  gap: 20px;
  padding: 15px 25px;
  background-color: rgba(0, 186, 255, 1);

  border-radius: 8px;
  border-color: rgba(0, 186, 255, 1);
  margin-left: 15px;
}
.d-flex {
  display: flex;
  /* flex-wrap: wrap; */
}
.justify-between {
  justify-content: space-between;
  align-items: center;
}
.align-items-center {
  align-items: center;
}
.width-40 {
  width: 35%;
}

.custom-card {
  /* box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08); */
  border: 2px solid rgb(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 5px;
  border-top: none;
}
.custom-card:first-child {
  margin-top: 20px;
}
.css-19kzrtu {
  padding: 0 !important;
}
.search-field {
  height: 30px;
  padding-left: 28px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--input-field-border-color);
  border-radius: 8px;
  width: 90%;
}
.admin-search-bar {
  height: 30px;
  padding-left: 28px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--input-field-border-color);
  border-radius: 8px;
  width: 90%;
}
.primary-button,
.secondary-button,
.ternary-button {
  height: 42px;
}

/* @media (max-width:992px){
    #search-field {

        height: 30px;
        padding-left: 15px;
        padding-right: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid var(--input-field-border-color);
        border-radius: 5px;
        width: 90%;
    }

 } */
@media screen and (max-width: 900px) {
  .display-none {
    display: none;
    
  }
}
@media screen and (min-width: 940px) and (max-width: 1000px) {
   
}
@media screen and (max-width: 700px) {
  .btn3 {
    padding: 5px 10px;
  }
  .btn4 {
    padding: 5px 10px;
  }
}
@media screen and (max-width: 450px) {
  small,
  button {
    display: block;
    margin-top: 9px;
  }
}
@media screen and (max-width: 480px) {
}

@media screen and (max-width: 1000px) {
  .card {
    height: 21rem;
    width: 50vw;
    margin-top: -15px;
    transform: none;
  }
  .primary-button,
  .secondary-button,
  .ternary-button {
    padding: 7px 10px;
    margin-top: 10px;
    margin-left: 17px;

  }
  .admin-search-bar {
    width: 70%;
    margin-top: 10px;
  }
 
}
@media screen and (max-width: 570px){
.admin-search-bar {
    width: 60%;
    margin-top: 10px;
}
.btn {
    padding: 15px 8px 12px 10px;
    margin-top: 10px;
   
}
}
@media screen and (min-width: 1000px) {
  .card {
    height: 21rem;
    width: 50vw;
    margin-top: -15px;
    transform: none;
  }
  .container {
    display: flex;
  }
  .btn {
    padding: 7px 10px;
    margin-top: 10px;
  }
  .display-none {
    display: none;
    
  }
}
