@media (min-width: 200px) {

    .flex-direction {
        flex-direction: column;
    }
}

@media (min-width: 350px) {

    /* Medium screens and larger */
    .tabHeader {
        font-size: 14px;
        font-weight: 500;
        padding: 7px 10px;
        border-radius: 8px 8px 0px 0px;
    }

    .tabHeaderSecButton {
        font-size: 11px;
        font-weight: 500;
        padding: 6px 7px;
        border-radius: 8px;
    }
    .tabfont {
        font-size: 13px;
    }
    .HeaderSection1 {
        width: 100%;
    }
    .HeaderSection2 {
        width: 100%;
    }
}

@media (min-width: 400px) {

    .HeaderSection1 {
        width: 100%;
    }
    .HeaderSection2 {
        width: 50%;
    }

}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    /* Large screens and larger */
    .tabHeader {
        font-size: 20px;
        font-weight: 500;
        padding: 12px 16px 12px 16px;
        border-radius: 8px 8px 0px 0px;
    }

    .tabHeaderSecButton {
        font-size: 16px;
        font-weight: 500;
        padding: 15px 20px 15px 20px;
        border-radius: 8px;
    }
    .HeaderSection1 {
        width: 35%;
    }
    .HeaderSection2 {
        width: 50%;
    }
}

@media (min-width: 950px) {
    /* Medium screens and larger */

    .tabHeader {
        font-size: 20px;
        font-weight: 500;
        padding: 12px 16px 12px 16px;
        border-radius: 8px 8px 0px 0px;
    }

    .tabHeaderSecButton {
        font-size: 16px;
        font-weight: 500;
        padding: 14px 18px;
        border-radius: 8px;
    }
    .tabfont {
        font-size: 20px;
    }
    .HeaderSection1 {
        width: 35%;
    }
    .HeaderSection2 {
        width: 50%;
    }

}

.headerbutton {
    border: 2px solid #ffffff;
    /* box-shadow: 0px   0px 5px 1px black; */
    box-shadow: 2px 2px 4px 0px #00000014;

}
.borerBottom {
    border-bottom: 3px solid #00BAFF;

}